.container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px;
  max-width: 250px;
  width: 100%;
  box-shadow: 5px 5px 5px darkgrey;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 30px;
  font-weight: bold;
  color: #fecc01;
  text-shadow: 3px 3px 3px #1c488d;
}

.imageBox {
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button__showMore {
  font-family: 'Gochi Hand', cursive;
  color: #1c488d;
  font-size: 20px;
  font-weight: bolder;
  background-color: #fecc01;
  border: 7px solid #1c488d;
  border-radius: 30px;
  padding: 5px 0;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}

.button {
  background-color: transparent;
  border: none;
}

.buttonBox {
  width: 100px;
  height: 100px;
}

.pagination {
  display: flex;
  flex-direction: row;
  gap: 100px;
  width: 100%;
  justify-content: center;
}

.lineOfPages {
  display: flex;
  flex-direction: row;
}

.pages {
  font-size: 40px;
  color: #fbd72e;
  text-shadow: 3px 3px 3px #e41711;
}