.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  background-color: white;
  justify-content: center;
}

.header {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  justify-content: space-between;
}

.logo {
  width: 100px;
}

.rotate {
  animation: rotation 1s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.navigation {
  display: flex;
  gap: 30px;
  justify-content: center;
  font-size: 24px;
  flex-wrap: wrap;
}

.link {
  color: #fecc01;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

.link--active {
  color: #1c488d;
}

.footer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-top: 1px solid black;
}

.navigation__footer {
  font-size: 14px;
  gap: 20px;
}

.made {
  font-size: 12px;
}

.button {
  width: 100px;
  height: 100px;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.button .img-top {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}
.button:hover .img-top {
  display: block;
}

.rotated__prev {
  transform: rotate(-90deg);
}

.rotated__next {
  transform: rotate(90deg);
}